################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TT_ShopJQK/FileContentIndex/25dfb292-6bba-4cce-b3a2-d351a02e7dff.vsidx
*.vsidx
